

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px 
}

body{
	font-family: sans-serif;
    background-color:#eee;
    overflow: hidden;
}

p{
    color: #222;
	margin: 20px 0;
}

button{
    outline: none;
    background-color: white;
    color: black;
	padding: 1rem;
	min-width: 200px;
	border-radius: 100px;
	margin: 20px 0;
	cursor: pointer;
	border: 2px black solid;
	font-size: 1rem;
}
button:hover {
	 color: white;
	 background-color: black;
}
button.answer{
    outline: none;
    background-color: black;
    color: white !important;
	padding: 1rem;
	min-width: 100%;
	border-radius: 0;
	margin: 5px;
	cursor: pointer;
	border: none;
	font-size: 1rem;
}
button.answer.correct {
	 background-color: green;
}
button.answer.incorrect {
	 background-color: red;
}
h1, h2{
    color: black;
    text-align: center;
	margin: 20px 0;
}



/* outer container*/

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*top ba*/

.top-bar p{
float: right;

}

/* inner-container*/
.inner-container{
   
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


/*header/quiz intro*/
.quiz-intro, main{
    margin-left: 10px;
    margin-right: 10px;
    
}
ul {
	padding: 0;
	list-style: none;
}
li {
	text-align: center;
}
.card {
    display: flex;
    border-radius: 15px;
    padding: 20px;
    border: 1px #ccc solid;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.quiz-intro, p, .quiz-outro, p {
    text-align: center;
}

.quiz-intro button,
.quiz-outro button{
    display: block;
    margin: 0 auto;
}
.hide {
	display: none;
}
.quiz-outro,
.questions {
	display: none;
}

.questions.active {
	display: block;
}

/* main quiz */

main {
    display: none;
}



